/* CSS for the login and sign-up form */
body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

.form {
    display: none;
}

.login-form {
    display: block;
}

.login-button {
    background-color: #007BFF;
    color: #fff;
}

.signup-button {
    background-color: #4CAF50;
    color: #fff;
}

.form h2 {
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: #007BFF;
}

form button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

form button:hover {
    background-color: #0056b3;
}
